@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
    
    --theme-main: #278c27;
    --white: #FFF;

    /* backgrounds */
    --gray-100: #FAF8F8;
    --gray-200: #E7E8EC;
    
    /* text */
    --gray-400: #5C6166;

    /* buttons */
    --green-500: #428A3E;
    --green-400: #5CB65C;
    --red-500: #b11310;
    --red-400: #df1c19;
}

html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    margin: 12px 0;
    font-size: 32px;
    font-weight: 300;
}

h3, h4 {
    margin: 12px 0;
    font-weight: 600;
}

h3 {
    color: var(--theme-main);
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5, h6 {
    margin: 4px 0;
    font-size: 19px;
    font-weight: 600;
}

p {
    margin: 12px 0;
    font-size: 17px;
    font-weight: 500;
}

p.txt-md {
    margin: 6px 0;
    color: var(--theme-main);
    font-size: 15px;
    font-weight: 600;

}

p.txt-sm {
    margin: 4px 0;
    color: var(--gray-400);
    font-size: 15px;
    font-weight: 500;
}

/* Cookie styling */

.gdpr-consent {
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 15px 15px 15px 15px;
}

.gdpr-consent__description{
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: var(--green-400);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.gdpr-consent__button--accept:hover {
    background-color: var(--green-500);
}

.gdpr-consent__button--reject {
    background-color: var(--red-400);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.gdpr-consent__button--reject:hover {
    background-color: var(--red-500);
}

.hide{
    display: none;
}

.show{
    display: block;
}

/* Profile page styling */

.profile-page {
    display: inline-grid;
    grid-template-rows: auto auto;
    width: 100%;
}

.personalia {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-200);
}

.person-logo {
    border: 1.5px solid #222;
    border-radius: 50%;
    margin: 16px 0 8px;
    width: 45%;
    max-width: 200px;
    animation: glow 3s ease alternate;
}

.profile {
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 0 24px;
}

.profile-content__element {
    margin: 12px 0 24px;
}

/* Desktop */
@media (min-width: 840px) {
    .profile-page {
        grid-template-columns: 40% auto;
        grid-template-rows: none;
    }

    .person-logo {
        width: 70%;
    }
}