:root {
    /* main colors */
    --green-600: #16a34a;
    --black-900: #0f172a;
    --white: #FFF;

    /* bg */
    --gray-100: #FAF8F8;
    --gray-200: #E7E8EC;

    /* text / borders / hovers */
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-500: #71717a;
    --gray-600: #52525b;
    --gray-800: #27272a;
    --gray-900: #18181b;

    /* buttons */
    --green-400: #4ade80;
    --green-500: #22c55e;
    --red-500: #ef4444;
    --red-600: #dc2626;
}

html, body {
    overflow: auto;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    margin: 12px 0;
    font-size: 32px;
    font-weight: 300;
}

h2 {
    color: var(--green-600);
    font-weight: 400;
}

h3, h4 {
    margin: 12px 0;
    font-weight: 600;
}

h3 {
    color: var(--green-600);
    font-size: 28px;
}

h4 {
    color: var(--black-900);
    font-size: 22px;
}

h5, h6 {
    color: var(--gray-600);
    margin: 4px 0;
    font-size: 19px;
    font-weight: 600;
}

a {
    color: var(--gray-200);
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

p {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 500;
}

p.txt-md {
    margin: 6px 0;
    color: var(--green-600);
    font-size: 15px;
    font-weight: 600;

}

p.txt-sm {
    margin: 4px 0;
    color: var(--gray-400);
    font-size: 15px;
    font-weight: 500;
}

/* pages */

/* home */

.page {
    width: 100%;
}

.profile-page {
    display: grid;
    grid-template-rows: auto auto;
}

.personalia {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-200);
}

.personalia h1 {
    text-align: center;
}

.person-logo {
    border: 1.5px solid #222;
    border-radius: 50%;
    margin: 16px 0 8px;
    width: 45%;
    max-width: 200px;
}

.profile {
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 0 24px;
}

.profile-content__element {
    margin: 12px 0 24px;
}

/* contact  */

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0 32px;
}

.contact-page__heading {
    margin-top: 48px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}

.contact-form__label {
    margin: 4px 0;
}

.contact-form__input, .contact-form__textarea {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
}

.contact-form__input {
    height: 30px;
}

.contact-form__input:focus, .contact-form__textarea:focus {
    border: 1px solid var(--gray-400);
    transition: 250ms;
}

.contact-form__textarea {
    height: 120px;
    resize: none;
}

.btn-send {
    font-family: 'Raleway', sans-serif;
    background-color: var(--green-400);
    color: var(--white);
    margin: 12px 0;
    font-weight: 500;
    font-size: 19px;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    transition: 200ms;
    outline: none;
    border: none;
}

.btn-send:hover {
    background-color: var(--green-500);
}

/* navigation */

.nav {
    background: #222;
    width: 220px;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
}

.nav__link {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo__link {
    margin: 8px 0 12px;
    align-self: center;
}

.logo {
    width: 56px;
    height: 56px;
}

.nav-mobile {
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.nav-desktop {
    display: none;
}

.nav-open {
    margin-left: 0;
}

.nav-closed {
    margin-left: -250px;
}

.show-nav__btn {
    position: absolute;
}

.show-nav__svg {
    margin: 10px 0 0 12px;
    width: 32px;
    height: 32px;
}

.close-nav__btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.close-nav__svg {
    width: 32px;
    height: 32px;
}

/* Tablet / small desktop */
@media (min-width: 840px) {

    .page {
        margin-left: 220px;
        width: calc(100vw - 220px);
        position: relative;
        overflow: auto;
    }

    .profile-page {
        grid-template-columns: minmax(40%, auto) auto;
        grid-template-rows: 100%;
    }

    .personalia, .profile {
        height: 100vh;
    }

    .person-logo {
        width: 70%;
    }

    /* Navigation */
    .nav-mobile, .show-nav__btn {
        display: none;
    }

    .nav-desktop {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .nav__link:hover {
        background-color: var(--gray-600);
        transition: 250ms ease;
    }

    .contact-form {
        max-width: 800px;
    }    
}

/* Desktop */
@media (min-width: 1300px) {

    .profile-page {
        grid-template-columns: 30% auto;
    }
}