/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap'); */

:root {
    /* main colors */
    --green-600: #278c27;
    --gray-600: #2e2e2e;
    --gray-800: #222;
    --white: #FFF;

    /* backgrounds */
    --gray-100: #FAF8F8;
    --gray-200: #E7E8EC;

    /* text */
    --gray-400: #5C6166;

    /* buttons */
    --green-400: #5CB65C;
    --green-500: #428A3E;

    --red-500: #b11310;
    --red-400: #df1c19;
}

html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    margin: 12px 0;
    font-size: 32px;
    font-weight: 300;
}

h3, h4 {
    margin: 12px 0;
    font-weight: 600;
}

h3 {
    color: var(--green-600);
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5, h6 {
    margin: 4px 0;
    font-size: 19px;
    font-weight: 600;
}

a {
    color: var(--gray-200);
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

p {
    margin: 12px 0;
    font-size: 17px;
    font-weight: 500;
}

p.txt-md {
    margin: 6px 0;
    color: var(--green-600);
    font-size: 15px;
    font-weight: 600;

}

p.txt-sm {
    margin: 4px 0;
    color: var(--gray-400);
    font-size: 15px;
    font-weight: 500;
}

/* profile page */

.profile-page {
    display: inline-grid;
    grid-template-rows: auto auto;
    width: 100%;
}

.personalia {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-200);
}

.personalia h1 {
    text-align: center;
}

.person-logo {
    border: 1.5px solid #222;
    border-radius: 50%;
    margin: 16px 0 8px;
    width: 45%;
    max-width: 200px;
}

.profile {
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 0 24px;
}

.profile-content__element {
    margin: 12px 0 24px;
}

/* navigation */

.nav {
    background: #222;
    width: 220px;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
}

.nav__link {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo__link {
    margin: 8px 0 12px;
    align-self: center;
}

.logo {
    width: 56px;
    height: 56px;
}

.nav-mobile {
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.nav-desktop {
    display: none;
}

.nav-open {
    margin-left: 0;
}

.nav-closed {
    margin-left: -250px;
}

.show-nav__btn {
    position: absolute;
}

.show-nav__svg {
    margin: 10px 0 0 12px;
    width: 32px;
    height: 32px;
}

.close-nav__btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.close-nav__svg {
    width: 32px;
    height: 32px;
}

/* Tablet / small desktop */
@media (min-width: 840px) {

    .profile-page {
        grid-template-columns: 50% auto;
        grid-template-rows: none;
        margin-left: 220px;
        width: calc(100vw - 220px);
        position: relative;
        overflow: auto;
    }

    .personalia, .profile {
        height: 100vh;
    }

    .person-logo {
        width: 70%;
    }

    /* Navigation */
    .nav-mobile, .show-nav__btn {
        display: none;
    }

    .nav-desktop {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .nav__link:hover {
        background-color: var(--gray-600);
        transition: 250ms ease;
    }
}

/* Desktop */
@media (min-width: 1300px) {

    .profile-page {
        grid-template-columns: 33% auto;
    }
}